- content_for(:header_title) { t(".show_database", name: @database.name) }

= bb_panel t("database"), table: true, right: bb_edit_btn([:edit, @profile, @database], mini: true) do
  %tbody
    %tr
      %th= t("name")
      %td= @database.name
