body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.tables-quick-menu table {
  table-layout: fixed;

  td.table-show-icon {
    width: 30px;
  }

  td.table-name {
    overflow: hidden;
    width: 100%;
  }
}

.layout-sitemap {
  td.layout-sitemap-profile {
    width: 18%;
  }

  td.layout-sitemap-database {
    width: 28%;
  }

  td.layout-sitemap-table {
    width: 25%;
  }

  td.layout-sitemap-column-or-index {
    width: 25%;
  }
}
