body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

table.tables-quick-menu {
  table-layout: fixed;

  td.table-show-icon {
    width: 30px;
  }

  td.table-name {
    width: 100%;
    overflow: hidden;
  }
}
